<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" type="text/css" href="33333_files/style.css">
    <script type="text/javascript" async="" src="33333_files/auto_ds"></script>
    <script src="33333_files/osd.js"></script>
    <script src="33333_files/push.js"></script>
    <script type="text/javascript" async="" src="33333_files/pr.js"></script>
    <script type="text/javascript" async="" src="33333_files/rlptqpn.js"></script>
    <script src="33333_files/show_ads_impl.js" id="google_shimpl"></script>
    <script src="33333_files/ca-pub-3645048061199849.js"></script>
    <script language="javascript" type="text/javascript" src="33333_files/jquery.js"></script>
    <script src="33333_files/YXL_002.js"></script>
    <link rel="preload" href="33333_files/integrator.js" as="script">
    <script type="text/javascript" src="33333_files/integrator.js"></script>
    <link rel="preload" href="33333_files/show_ads_impl.js" as="script">
</head>
<body oncopy="return false;" oncut="return false;">
<div class="mainBox fcc">
    <div class="mainL">
        <div class="ks_Area_cnt">
            <div class="ks_Area_" style="display: block;">
                <iframe allowtransparency="true" name="appWinFrame" scrolling="no" src="33333_files/a.html"
                        class="app-win app-win-iframe" width="100%" height="510" frameborder="0">
                </iframe>
            </div>
        </div>
        <script>
            tolk('xc', 'kmy', 'sxlx', '');
        </script>
    </div>
    <div class="mainR" style="margin-top:15px;">
        <script src="33333_files/GAD_300x600.js"></script>
        <script type="text/javascript" src="33333_files/show_ads.js"></script>
    </div>
</div>
</body>
</html>