<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<img src="photo/co1.jpg"/>
<form action="us/queryfind" method="post">
    <input type="text" name="uname"/>
    <input type="password" name="pwd"/>
    <input type="submit" value="登录" />
</form>-->
<!--http://v.juhe.cn/jztk/query?subject=1&model=c1&testType=rand&key=802774696459caac7cecc39c931fabdf-->
<a href="/homes.html">模拟练习</a>
<form action="/test/test" method="post">
    <input type="radio" name="subject" id="cs1" value="1"/>科一
    <input type="radio" name="subject" id="cs2" value="4"/>科四<br/>
    <input type="radio" name="model" id="cx1" value="c1"/>小车
    <input type="radio" name="model" id="cx2" value="a1"/>客车
    <input type="radio" name="model" id="cx3" value="b1"/>货车<br/>
    <input type="radio" name="testType" id="cr1" value="rand"/>随机练习
    <input type="radio" name="testType" id="cr2" value="order"/>顺序练习
    <input type="submit" value="开始测试" />
</form>
</body>
</html>